@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,700");
@media (min-width: 576px) {
  body nav .navbar-brand img {
    height: 40px;
    width: 40px; }
  body #home-main-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }
@media (max-width: 576px) {
  body nav .navbar-brand img {
    height: 40px;
    width: 40px; }
  body #home-main-banner-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); } }
@media (min-width: 768px) {
  body nav .navbar-brand img {
    height: 100px;
    width: 100px; }
  body .full-banner#home-main-banner {
    margin-top: -125px; } }
@media (max-width: 768px) {
  .full-banner#home-main-banner {
    margin-top: -64px; }

  #news-gallery {
    display: block !important; }
    #news-gallery .card {
      margin-left: 0;
      margin-right: 0; } }
@media (min-width: 992px) {
  .full-banner-text, .container-text {
    padding-left: 15%;
    padding-right: 15%; } }
body {
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  text-align: center; }
  body nav {
    z-index: 1; }
    body nav.navbar {
      background-color: rgba(247, 247, 247, 0.75); }
    body nav .navbar-collapse {
      font-family: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; }
      body nav .navbar-collapse .navbar-nav {
        text-align: right; }
  body .full-banner {
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;
    width: 100%;
    overflow: hidden; }
    body .full-banner#home-main-banner {
      background-image: url("../images/2017nedcmp_robot.jpg");
      background-color: #015723;
      padding-top: 200px;
      height: 101vh;
      padding-bottom: 7em; }
      body .full-banner#home-main-banner #home-scroll-down {
        background-color: transparent;
        position: absolute;
        top: 90vh; }
    body .full-banner#home-media-banner {
      background-color: #4b5257;
      padding-top: 50px;
      padding-bottom: 200px; }
    body .full-banner#social-media-main-banner {
      background-image: url("../images/2017nedcmp_robot.jpg");
      background-color: #015723;
      margin-top: -125px;
      padding-top: 200px;
      padding-bottom: 200px; }
    body .full-banner * {
      text-align: center;
      color: white; }
    body .full-banner .full-banner-text h5 {
      font-family: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
      font-weight: 300; }
  body .main-content {
    padding-top: 75px;
    padding-bottom: 50px; }
  body #home-news .card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; }
    body #home-news .card-deck .card {
      display: inline-block; }
      body #home-news .card-deck .card .card-img-top {
        height: 200px;
        width: 100%;
        object-fit: contain; }
      body #home-news .card-deck .card .card-text {
        text-align: left; }
  body #home-sponsors .home-platinum-sponsor {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
    body #home-sponsors .home-platinum-sponsor img {
      height: 180px;
      width: 225px;
      object-fit: contain; }
  body #home-sponsors .home-gold-sponsor {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
    body #home-sponsors .home-gold-sponsor img {
      height: 120px;
      width: 180px;
      object-fit: contain; }
  body #home-sponsors .home-silver-sponsor {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
    body #home-sponsors .home-silver-sponsor img {
      height: 80px;
      width: 120px;
      object-fit: contain; }
  body #home-sponsors .home-bronze-sponsor {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
    body #home-sponsors .home-bronze-sponsor img {
      height: 40px;
      width: 60px;
      object-fit: contain; }
  body #home-robot-gallery {
    overflow: hidden; }
    body #home-robot-gallery .card {
      border: hidden; }
      body #home-robot-gallery .card .card-block * {
        color: black; }
  body .footer {
    background-color: #00840d;
    margin-bottom: -20px; }
    body .footer .footer-container * {
      color: white; }
    body .footer .footer-container .footer-contact-button {
      height: 2em;
      width: 2em;
      padding: 0; }
    body .footer #footer-copyright {
      margin-left: -1em;
      margin-right: -0.9em;
      padding-top: 1em;
      padding-bottom: 0.01em;
      background-color: #00750b; }

/*# sourceMappingURL=main.css.map */
