@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Nunito+Sans:400|Raleway:500,600');

// Tiny phones (iPhone SE/5S)
@media (max-width: 350px) {
  h5 {
    font-size: 1.1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    nav {
      .navbar-brand {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    nav {
      background-color: white !important;
      .navbar-brand {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
    #home-sponsors {
      .home-platinum-sponsor {
        img {
          height: 144px;
          width: 180px;
        }
      }
      .home-bronze-sponsor {
        img {
          height: 80px;
          width: 100px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    nav {
      .navbar-brand {
        img {
          height: 100px;
          width: 100px;
        }
      }
    }
    .full-banner {
      &#home-main-banner {
        margin-top: -125px;
      }
    }
  }
}

@media (max-width: 768px) {
  .full-banner {
    &#home-main-banner {
      margin-top: -64px;
    }
  }
  #news-gallery {
    display: block !important;
    .card {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .full-banner-text, .container-text {
    padding-left: 15%;
    padding-right: 15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

body {
  font-family: "Nunito Sans", "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  text-align: center;

  font-weight: 400;

  h1, h2 {
    font-family: "Raleway", "Nunito Sans", "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
   font-weight: 500;
  }

  nav {
    font-family: "Nunito Sans", "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    &.navbar {
      background-color: rgba(247, 247, 247, 0.75);
      margin-top: -2px;
    }
    .navbar-brand {
      h5 {
        font-family: "Raleway", "Nunito Sans", "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        display: inline-block;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        text-align: right;
      }
    }
    z-index: 1;
  }

  .full-banner {

    &#home-main-banner {
      background-image: url("../images/2017nedcmp_robot.jpg");
      background-color: #015723;
      padding-top: 100px;
      height: 101vh; // TEMP
      padding-bottom: 7em;

      text-align: center;

      #home-main-banner-text {
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
      }

      #home-scroll-down {
        background-color: transparent;
        position: absolute;
        top: 90vh;
        color: white;

        left: 50%;
        transform: translate(-50%);
      }
    }

    &#home-news-banner {
      background-color: #494949;
      padding-bottom: 50px;

      h2 {
        color: white;
      }
    }

    &#social-media-main-banner {
      background-image: url("../images/2017nedcmp_robot.jpg");
      background-color: #015723;
      margin-top: -125px;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &#home-donate-banner {
      background-color: #820f26;
      padding-top: 2em;
      padding-bottom: 2em;
      vertical-align: middle;

      * {
        display: inline-block;
        color: white;
      }
    }

    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;

    width: 100%;

    overflow: hidden;

    .full-banner-text {
      * {
        text-align: center;
        color: white;
      }
      h5 {
        font-family: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        font-weight: 300;
      }
    }
  }

  .main-content {
    padding-top: 75px;
    padding-bottom: 50px;
  }

  .home-text {
    text-align: left;
  }

  #home-news {
    .card-deck {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      .card {
        display: inline-block;
        border-radius: 0;
        .card-img-top {
          height: 200px;
          width: 100%;
          object-fit: cover;
          border-radius: 0;
        }
        .card-text {
          text-align: left;
        }
      }
    }
  }

  #home-sponsors {
    .home-platinum-sponsor {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      img {
        height: 180px;
        width: 225px;
        object-fit: contain;
      }
    }
    .home-gold-sponsor {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      img {
        height: 120px;
        width: 180px;
        object-fit: contain;
      }
    }
    .home-silver-sponsor {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      img {
        height: 80px;
        width: 120px;
        object-fit: contain;
      }
    }
    .home-bronze-sponsor {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      img {
        height: 40px;
        width: 60px;
        object-fit: contain;
      }
    }
  }

  #home-robot-gallery {
    overflow: hidden;
    .card {
      border: hidden;
      :hover {
        background-color: #015723;
        h6 {
          color: white;
        }
      }
      .card-block {
        * {
          color: black;
        }
      }
    }
  }

  .footer {
    background-color: #00840d;
    margin-bottom: -20px;

    .footer-container {
      * {
        color: white;
      }

      .footer-contact-button {
        height: 2em;
        width: 2em;
        padding: 0;
      }
    }

    #footer-copyright {
      margin-left: -1em;
      margin-right: -0.9em;
      padding-top: 1em;
      padding-bottom: 0.01em;
      background-color: #00750b;
    }
  }

}

/* Grow */
.hvr-grow {
  // display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  // display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}