@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,700');

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    nav {
      .navbar-brand {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    nav {
      .navbar-brand {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
    .full-banner {
      &#home-main-banner {
        background-attachment: scroll;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    nav {
      .navbar-brand {
        img {
          height: 100px;
          width: 100px;
        }
      }
    }
    .full-banner {
      &#home-main-banner {
        background-attachment: fixed;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

body {
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  text-align: center;

  nav {
    &.navbar {
      background-color: rgba(247, 247, 247, 0.75);
    }
    .navbar-collapse {

      font-family: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

      .navbar-nav {
        text-align: right;
      }
    }
    z-index: 1;
  }

  .full-banner {

    &#home-main-banner {
      background-image: url("../images/2017nedcmp_robot.jpg");
      background-color: #015723;
      margin-top: -125px;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &#home-media-banner {
      background-color: #4b5257;
      padding-top: 50px;
      padding-bottom: 200px;
    }

    &#social-media-main-banner {
      background-image: url("../images/2017nedcmp_robot.jpg");
      background-color: #015723;
      margin-top: -125px;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top center;

    width: 100%;

    overflow: hidden;

    * {
      text-align: center;
      color: white;
    }

    .full-banner-text {
      h5 {
        font-family: "Roboto Condensed", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        font-weight: 300;
      }
    }

    a {
      background-color: #00840d;
    }
  }

  .main-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #home-sponsors {
    .home-platinum-sponsor {
      display: inline-block;
      height: 200px;
      width: 200px;
    }
    .home-gold-sponsor {
      display: inline-block;
      height: 150px;
      width: 150px;
    }
    .home-silver-sponsor {
      display: inline-block;
      height: 100px;
      width: 100px;
    }
    .home-bronze-sponsor {
      display: inline-block;
      height: 50px;
      width: 50px;
      p {
        font-size: small;
      }
    }
  }

  #home-robot-gallery {
    a {
      display: inline-block;
    }
    .card {
      width: 15rem;
      .card-block {
        * {
          color: black;
        }
      }
      //:hover {
      //
      //}
    }
  }

  .footer {
    background-color: #00840d;
    margin-bottom: -20px;

    .footer-container {
      * {
        color: white;
      }

      .footer-contact-button {
        height: 2em;
        width: 2em;
        padding: 0;
      }
    }

    #footer-copyright {
      margin-left: -1em;
      margin-right: -0.9em;
      padding-top: 1em;
      padding-bottom: 0.01em;
      background-color: #00750b;
    }
  }

}